---
---

<div class="gantt-target">
    <svg id="gantt" />
</div>

<style>

</style>

<script>  
import Gantt from 'frappe-gantt';
import { RuntimeService } from '../services/runtime.ts';

const svc = new RuntimeService()

var tasks = svc.generateData()


var gantt = new Gantt("#gantt", tasks, {
//   header_height: 50,
//   column_width: 30,
//   step: 24,
  view_modes: ["Quarter Day", "Half Day", "Day", "Week", "Month"],
//   bar_height: 30,
  bar_corner_radius: 3,
  arrow_curve: 5,
  padding: 18,
  view_mode: "Month",
  date_format: "YYYY-MM-DD",
  language: "en", // or 'es', 'it', 'ru', 'ptBr', 'fr', 'tr', 'zh', 'de', 'hu'
  custom_popup_html: '',
});

</script>

<!-- <style lang="scss">
    @import "frappe-gantt/dist/frappe-gantt.css";
</style> -->